# Python
__pycache__/
*.pyc

# Model weights (too large for GitHub)
*.pt
*.pth
*.onnx

# Large demo media
data/demo/*.gif
data/demo/*.mp4

# Datasets
data/bdd100k/

# Environments / IDE
.venv/
venv/
.vscode/
.idea/


